<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/timezones" routerLinkActive="active">Time zones</a>
            <a class="nav-item nav-link" routerLink="/population" routerLinkActive="active">Population</a>
            <a class="nav-item nav-link" routerLink="/playground" routerLinkActive="active">Playground</a>
        </div>
    </div>
</nav>
