<div class="d-sm-none d-md-none d-lg-block">
    <div class="row">
        <div class="col-sm">
            <div>
                <div style="padding-bottom: 2²px; margin-bottom: 8px; font-size: 1.6rem; font-weight: bold; border-bottom: 1px solid #dee2e6;">HEALTHBOX3</div>
                <div>
                    <table style="font-size: 1.1rem;">
                        <tr>
                            <td style="font-weight: bold; text-wrap: none; padding: 0 16px 0 0;">
                                Label
                            </td>
                            <td>
                                Value
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; text-wrap: none; padding: 0 16px 0 0;">
                                Omschrijving
                            </td>
                            <td>
                                Test
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <tabset>
                <tab heading="Live information">
                    <div class="row" style="margin-top: 12px;">
                        <div class="col-sm">
                            <app-views-playground-time-zone-info></app-views-playground-time-zone-info>
                        </div>
                        <div class="col-sm">
                            <app-views-playground-time-zone-info></app-views-playground-time-zone-info>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="d-lg-none d-md-block d-sm-none">
    <div class="row">
        <div class="col-sm">
            <div>
                <div style="font-size: 1.4rem; font-weight: bold; border-bottom: 1px solid #4a4a4a">HEALTHBOX3</div>
                <div>
                    <div class="row">
                        <div class="col-sm col-lg">Label</div>
                        <div class="col-sm-6 col-md-7 col-lg-8">Value</div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-sm col-lg">Omschrijving</div>
                        <div class="col-sm-6 col-md-7 col-lg-8">Test</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <app-views-playground-time-zone-info></app-views-playground-time-zone-info>
        </div>
        <div class="col-sm">
            <app-views-playground-time-zone-info></app-views-playground-time-zone-info>
        </div>
    </div>
</div>
<div class="d-lg-none d-md-none d-sm-block">
    <div class="row">
        <div class="col-sm">
            <div>
                <div style="font-size: 1.4rem; font-weight: bold; border-bottom: 1px solid #4a4a4a">HEALTHBOX3</div>
                <div>
                    <div class="row">
                        <div class="col-sm col-lg">Label</div>
                        <div class="col-sm-6 col-md-7 col-lg-8">Value</div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-sm col-lg">Omschrijving</div>
                        <div class="col-sm-6 col-md-7 col-lg-8">Test</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <app-views-playground-time-zone-info></app-views-playground-time-zone-info>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <app-views-playground-time-zone-info></app-views-playground-time-zone-info>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <tabset>
            <tab heading="Production information">
                <app-time-line></app-time-line>
            </tab>
        </tabset>
    </div>
</div>
