<div class="timeline">
    <div class="timeline-item">
        <div class="timeline-label">
            <div>03 MAA</div>
            <div>2018</div>
        </div>
        <div class="timeline-title">Item 1</div>
        <div class="timeline-content">
            Trifecta and mug qui as bar coffee. Caramelization, and, aroma, plunger pot filter coffee strong aroma
            seasonal. So barista plunger pot steamed, grounds redeye.
        </div>
    </div>
    <div class="timeline-item timeline-item-primary">
        <div class="timeline-label">
            <div>03 MAA</div>
            <div>2018</div>
        </div>
        <div class="timeline-title">Item 1</div>
        <div class="timeline-content">
            Trifecta and mug qui as bar coffee. Caramelization, and, aroma, plunger pot filter coffee strong aroma
            seasonal. So barista plunger pot steamed, grounds redeye.
        </div>
    </div>
    <div class="timeline-item timeline-item-success">
        <div class="timeline-label">
            <div>03 MAA</div>
            <div>2018</div>
        </div>
        <div class="timeline-title">Item 1</div>
        <div class="timeline-content">
            Trifecta and mug qui as bar coffee. Caramelization, and, aroma, plunger pot filter coffee strong aroma
            seasonal. So barista plunger pot steamed, grounds redeye.
        </div>
    </div>
    <div class="timeline-item timeline-item-info">
        <div class="timeline-label">
            <div>03 MAA</div>
            <div>2018</div>
        </div>
        <div class="timeline-title">Item 1</div>
        <div class="timeline-content">
            Trifecta and mug qui as bar coffee. Caramelization, and, aroma, plunger pot filter coffee strong aroma
            seasonal. So barista plunger pot steamed, grounds redeye.
        </div>
    </div>
    <div class="timeline-item timeline-item-warning">
        <div class="timeline-label">
            <div>03 MAA</div>
            <div>2018</div>
        </div>
        <div class="timeline-title">Item 1</div>
        <div class="timeline-content">
            Trifecta and mug qui as bar coffee. Caramelization, and, aroma, plunger pot filter coffee strong aroma
            seasonal. So barista plunger pot steamed, grounds redeye.
        </div>
    </div>
    <div class="timeline-item timeline-item-danger">
        <div class="timeline-label">
            <div>03 MAA</div>
            <div>2018</div>
        </div>
        <div class="timeline-title">Item 1</div>
        <div class="timeline-content">
            Trifecta and mug qui as bar coffee. Caramelization, and, aroma, plunger pot filter coffee strong aroma
            seasonal. So barista plunger pot steamed, grounds redeye.
        </div>
    </div>
</div>
