<div class="time-line">
    <div class="time-line-item">
        <div class="time-line-label">
            <div>03 MAA</div>
            <div>2018</div>
        </div>
        <div class="time-line-title">Item 1</div>
        <div class="time-line-content">
            Trifecta and mug qui as bar coffee. Caramelization, and, aroma, plunger pot filter coffee strong aroma
            seasonal. So barista plunger pot steamed, grounds redeye.
        </div>
    </div>
    <div class="time-line-item time-line-item-primary">
        <div class="time-line-label">
            <div>03 MAA</div>
            <div>2018</div>
        </div>
        <div class="time-line-title">Item 1</div>
        <div class="time-line-content">
            Trifecta and mug qui as bar coffee. Caramelization, and, aroma, plunger pot filter coffee strong aroma
            seasonal. So barista plunger pot steamed, grounds redeye.
        </div>
    </div>
    <div class="time-line-item time-line-item-success">
        <div class="time-line-label">
            <div>03 MAA</div>
            <div>2018</div>
        </div>
        <div class="time-line-title">Item 1</div>
        <div class="time-line-content">
            Trifecta and mug qui as bar coffee. Caramelization, and, aroma, plunger pot filter coffee strong aroma
            seasonal. So barista plunger pot steamed, grounds redeye.
        </div>
    </div>
    <div class="time-line-item time-line-item-info">
        <div class="time-line-label">
            <div>03 MAA</div>
            <div>2018</div>
        </div>
        <div class="time-line-title">Item 1</div>
        <div class="time-line-content">
            Trifecta and mug qui as bar coffee. Caramelization, and, aroma, plunger pot filter coffee strong aroma
            seasonal. So barista plunger pot steamed, grounds redeye.
        </div>
    </div>
    <div class="time-line-item time-line-item-warning">
        <div class="time-line-label">
            <div>03 MAA</div>
            <div>2018</div>
        </div>
        <div class="time-line-title">Item 1</div>
        <div class="time-line-content">
            Trifecta and mug qui as bar coffee. Caramelization, and, aroma, plunger pot filter coffee strong aroma
            seasonal. So barista plunger pot steamed, grounds redeye.
        </div>
    </div>
    <div class="time-line-item time-line-item-danger">
        <div class="time-line-label">
            <div>03 MAA</div>
            <div>2018</div>
        </div>
        <div class="time-line-title">Item 1</div>
        <div class="time-line-content">
            Trifecta and mug qui as bar coffee. Caramelization, and, aroma, plunger pot filter coffee strong aroma
            seasonal. So barista plunger pot steamed, grounds redeye.
        </div>
    </div>
    <div class="time-line-item">
        <div class="time-line-label">
            <div>03 MAA</div>
            <div>2018</div>
        </div>
        <div class="time-line-title">Item 1</div>
        <div class="time-line-content">
            Trifecta and mug qui as bar coffee. Caramelization, and, aroma, plunger pot filter coffee strong aroma
            seasonal. So barista plunger pot steamed, grounds redeye.
        </div>
    </div>
</div>
